body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
.app.light {
    background-color: #F8F4EC;
}
  
.app.dark {
    background-color: #020116 ;
}

.theme-toggle {
    padding: 10px;
    cursor: pointer;
  }
  

section{
  padding: 60px 20px;
  margin-bottom: 130px;
  scroll-margin-top: 130px;
}
