body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
.app.light {
    background-color: #F8F4EC;
    background-image: 
    repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.05) 0px,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.05) 0px,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px,
      transparent 20px
    );
  background-repeat: repeat;
}
  
.app.dark {
    background-color: #020116 ;
}

.theme-toggle {
    padding: 10px;
    cursor: pointer;
  }
  

section{
  padding: 60px 20px;
  margin-bottom: 130px;
  scroll-margin-top: 130px;
}

.animation{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}


@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
