.certification-wrapper {
  padding: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in forwards;
}

.certification-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.card-container {
  width: 350px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.certification-card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
}

.certification-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.certification-card.dark {
  background-color: #020116;
  border: 2px solid #008080; /* Outline */
  box-shadow: 0 0 0 4px rgba(0, 128, 128, 0.2); /* Outline glow */
  color: white;
}

.certification-card.light {
  background-color: #F8F4EC;
  border: 2px solid #494949; /* Outline */
  box-shadow: 0 0 0 4px rgba(65, 65, 65, 0.2); /* Outline glow */
  color: rgb(56, 56, 56);
}

.cert-image {
  width: 100%;
  height: 200px;
  border-radius: 25px;
  margin-bottom: 16px;
}

.cert-date-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.cert-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.cert-date {
  font-weight: bold;
  font-size: 15px;
  color: #008080;
}

.cert-name {
  font-size: 20px;
  margin: 12px 0;
  font-weight: bold;
  color: #636363;
}

.cert-desc {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 15px;
  color: #555;
}

.cert-link {
  text-decoration: none;
  color: #008080;
  font-weight: bold;
  border: 2px solid #008080;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-size: 15px;
  align-self: center;
  margin-top: 10px;
}

.cert-link:hover {
  background-color: #008080;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 768px) {
  .certification-container {
    flex-direction: column;
    gap: 20px;
  }

  .card-container {
    max-width: 90%;
  }

  .cert-name {
    font-size: 14px;
  }

  .cert-desc {
    font-size: 12px;
  }

  .cert-link {
    font-size: 12px;
  }
}
