.boo{
    display: grid;
    place-items: center;
    margin-top: 25px;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }

.sp {
    font-weight: bolder;
    color: #008080;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.bla-bla {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(107, 99, 99);
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.profile{
    border-radius: 50%;
    max-width: 150px;
    animation: fadeIn 2s ease-in forwards;
    object-fit: cover;
}
.profile:hover{
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}