/* .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
  }
.project-card{
    background-color:  #1f1f3d;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 400px;
    height: 500px;
    
}
h2 {
    text-align: center;
    font-weight: bold;
    color: #008080;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    padding: 15px;
    margin: 5px;
}
.pictures{
    width: 100%;
    height: 250px;
    padding: 15px;
    border-radius: 25px;
}
.desc{
    font-weight: lighter;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.skills{
    color: rgb(255, 81, 0);
    text-align: center;
    font-weight: lighter;
    margin: 5px;
    padding: 10px;
}
.url{
    text-decoration: none;
    color: rgb(255, 72, 0);
} */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.card-container {
    perspective: 1000px;
}

.project-card {
    width: 400px;
    height: 600px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.card-container:hover .project-card {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-front.dark{
    background-color: #1f1f3d;
    color: white;
}

.card-front.light{
    background-color: #d8cdc7;
    color: rgb(56, 56, 56);
}

.card-back {
    background-color:  #1f1f3d;
    color: white;
    shape-outside: 100px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
}

.pictures {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
h2 {
    text-align: center;
    font-weight: bold;
    color: #008080;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    padding: 15px;
    margin: 5px;
}
h2.light{
    color: rgb(77, 74, 74);
}
.desc {
    font-weight: lighter;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.skills {
    color: rgb(255, 81, 0);
    text-align: center;
    font-weight: lighter;
    margin: 5px;
    padding: 10px;
}

.url {
    text-decoration: none;
    color: #008080;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    z-index: 50;
}

.url:hover {
    background-color: #929696;
    color: rgb(46, 44, 44);
    border-radius: 15px;
}

