.splash-screen {
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.splash-inner {
  max-width: 90%;
  z-index: 2;
}

.splash-title {
  font-size: 2rem;
  font-weight: bold;
  color: #797a7a;
  margin-bottom: 10px;
}

.splash-welcome {
  font-size: 0.8rem;
  color: #8892b0;
  margin-bottom: 30px;
  font-family: 'Press Start 2P', cursive;
}

.splash-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #727272;
  border: 2px solid #585858;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.splash-button:hover {
  background-color: #585858;
  color: #020116;
}

/* Responsive font sizes for smaller screens */
@media (max-width: 768px) {
  .splash-title {
    font-size: 1.5rem;
  }

  .splash-welcome {
    font-size: 0.7rem;
  }

  .splash-button {
    font-size: 0.7rem;
  }
}
